body {
    background: url('/app/images/cool_rest-wallpaper-1920x1080.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.artists-search-input {
    margin: 25px;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-bottom: 10px;
    border-bottom: solid 1px dodgerblue;
}

.artists-results {
    background-color: dodgerblue;
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;

    margin: 25px;
    border-radius: 5px;
    padding: 10px;
}

.artists-results-empty {
    margin-top: 200px;
}

.artist-row {
    margin-bottom: 5px;
}

.selected-artist {
    background-color: black;
    border-radius: 5px;
}

.selected-artist-playcount {
    background-color: dodgerblue;
    color: white;
    border-radius: 20px;
    margin-left: 70px;
    text-align: center;
}

.artist-similar-artists {
    margin-top: 15px;
}