<div>
    <div class="jumbotron">
        <h1>Artists Inspector</h1>
        <p>Use this page for artists lookup and inspection!</p>
    </div>

    <div class="artists-search-input">
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon3">Artist/Band Name</span>
            <input type="text" class="form-control" ng-model="vm.artistName" id="basic-url" ng-keypress="vm.searchArtist($event)" aria-describedby="basic-addon3" style="min-width: 150px;">

            <a ng-if="!vm.searchInProgress" class="btn btn-primary btn-lg" ng-disabled="vm.artistName.length === 0" ng-click="vm.searchArtist(null)" role="button" style="margin-left: 5px">Search!</a>
            <a ng-if="vm.searchInProgress" ng-disabled="true" class="btn btn-primary btn-lg" role="button" style="margin-left: 5px">Searching...</a>
        </div>
    </div>

    <div ng-show="vm.foundArtists.length > 0" class="row artists-results">
        <div class="row">
            <div class="col-md-5">
                <h3>Found {{ vm.totalArtistsFound }} artists!</h3>
            </div>
            <div class="col-md-7">
                <h3>Details</h3>
            </div>
        </div>

        <div class="row" style="margin-left: 10px; margin-right: 10px;"><hr /></div>

        <div class="col-md-5">
            <div class="list-group">
                <div class="artist-row" ng-repeat="artist in vm.foundArtists">
                    <a href="" ng-click="vm.selectArtist(artist)" ng-class="{ 'active': artist.isSelected }" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ artist.name }}</h4>
                        <p class="list-group-item-text"><span id="listeners-count">{{ artist.listenersCount }}</span> listeners</p>
                    </a>
                </div>
            </div>

            <!-- ------------------------------------ ARTISTS PAGINATION ------------------------ -->
            <!-- -------------------------------------------------------------------------------- -->
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div ng-show="vm.selectedArtistInfo !== null" class="col-md-7 selected-artist">
            <div class="row">
                <div class="col-md-6"><h2>{{ vm.selectedArtist.name }}</h2></div>
                <div class="col-md-6">
                    <div class="selected-artist-playcount"><p>{{ vm.selectedArtistInfo.playsCount }} plays</p></div>
                </div>
            </div>

            <!-- ------------------------------------ IMAGE & SUMMARY --------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->
            <div class="row" style="padding: 5px;">
                <div class="col-xs-6 col-md-3" style="padding-top: 5px;">
                    <a href="{{ vm.selectedArtist.url }}" style="margin-bottom: 0px;" class="thumbnail">
                        <img src="{{ vm.selectedArtistDefaultImageUrl }}" alt="Artist default image">
                    </a>
                </div>
                <div style="text-align: justify;"><p>{{ vm.selectedArtistInfo.summary }}</p></div>
            </div>

            <!-- ------------------------------------ MBID -------------------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->
            <!--<div>
                <h3>MBID: {{ vm.selectedArtistInfo.mbid }}</h3>
            </div>-->

            <!-- ------------------------------------ TAGS -------------------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->
            <div class="row artist-tags">
                <div class="artist-tag" ng-repeat="tag in vm.selectedArtist.topTags">
                    <div class="row" ng-click="vm.openTagPage(tag.url)"><p>{{ tag.name }} <span class="badge">{{ tag.count }}</span></p></div>
                </div>

                <!--<a href="{{ tag.url }}">{{ tag.name }} <span class="badge">{{ tag.count }}</span></a>-->
            </div>
            
            <!-- ------------------------------------ TABBED INFO ------------------------------- -->
            <!-- -------------------------------------------------------------------------------- -->
            <ul class="nav nav-tabs">
                <li role="presentation" ng-click="vm.activeTab = 1" ng-class="{ 'active': vm.activeTab === 1 }"><a href="">Bio</a></li>
                <li role="presentation" ng-click="vm.activeTab = 2" ng-class="{ 'active': vm.activeTab === 2 }"><a href="">Images</a></li>
                <li role="presentation" ng-click="vm.activeTab = 3; vm.setSimilarArtists();" ng-class="{ 'active': vm.activeTab === 3 }"><a href="">Similar Artists</a></li>
                <li role="presentation" ng-click="vm.activeTab = 4; vm.setTopTracks();" ng-class="{ 'active': vm.activeTab === 4 }"><a href="">Top Tracks</a></li>
            </ul>
            <div class="row artist-info-details">
                <!-- ------------------------------------ BIO --------------------------------------- -->
                <div ng-show="vm.activeTab === 1" class="artist-info-details-bio" style="padding: 5px">
                    <p>Published: {{ vm.selectedArtistInfo.published }}</p>
                    <p style="text-align: justify">{{ vm.selectedArtistInfo.content }}</p>
                </div>

                <!-- ------------------------------------ IMAGES ------------------------------------ -->
                <div ng-show="vm.activeTab === 2" class="artist-info-details-images" style="padding: 15px;">
                    <div class="row">
                        <div ng-repeat="image in vm.selectedArtistInfo.images" class="col-xs-6 col-md-3">
                            <!--<a href="{{ image.url }}" class="thumbnail">
                                <img src="{{ image.url }}" alt="Artist image">
                            </a>-->
                        </div>
                    </div>
                </div>

                <!-- ------------------------------------ SIMILAR ----------------------------------- -->
                <div ng-show="vm.activeTab === 3" class="artist-similar-artists">
                    <ul>
                        <li ng-repeat="similarArtist in vm.selectedArtist.similarArtistsList">
                            <p>{{ similarArtist.match }} - {{ similarArtist.name }}</p>
                        </li>
                    </ul>
                </div>

                <!-- ------------------------------------ TOP TRACKS -------------------------------- -->
                <div ng-show="vm.activeTab === 4" class="artist-info-details-top-tracks">
                    <div ng-show="vm.selectedArtist.topTracks !== null">
                        <div class="artist-top-track" ng-repeat="track in vm.selectedArtist.topTracks">
                            <p><span class="artist-top-track-playcount">{{ track.playCount }}</span> {{ track.name }}</p>
                            <p>{{ track.listenersCount }} listeners</p>
                        </div ng-repeat="track>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div ng-show="vm.foundArtists.length === 0" class="row artists-results-empty"></div>
</div>