<div>
    <div class="jumbotron">
        <h1>Artists Inspector</h1>
        <p>Use this page for artists lookup and inspection!</p>
    </div>

    <div class="row artists-search-input">
        <div class="col-md-1"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1">@</span>
                        <input type="text" class="form-control" ng-model="vm.artistName" ng-keypress="vm.searchArtist($event)" placeholder="Artist name..." aria-describedby="sizing-addon1">
                    </div>
                </div>
                <div class="col-md-4">
                    <a ng-if="!vm.searchInProgress" class="btn btn-primary btn-lg" ng-disabled="vm.artistName.length === 0" ng-click="vm.searchArtist(null)" role="button">Search!</a>
                    <a ng-if="vm.searchInProgress" ng-disabled="true" class="btn btn-primary btn-lg" role="button">Searching...</a>
                </div>
            </div>
        </div>
        <div class="col-md-5"></div>
    </div>

    <div ng-show="vm.foundArtists.length > 0" class="row artists-results">
        <div class="row">
            <div class="col-md-5">
                <h3>Found {{ vm.foundArtists.length }} artists!</h3>
            </div>
            <div class="col-md-7">
                <h3>Details</h3>
            </div>
        </div>

        <div class="row"><hr /></div>

        <div class="col-md-5">
            <div class="list-group">
                <div class="artist-row" ng-repeat="artist in vm.foundArtists">
                    <a href="" ng-click="vm.selectArtist(artist)" ng-class="{ 'active': artist.isSelected }" class="list-group-item">
                        <h4 class="list-group-item-heading">{{ artist.name }}</h4>
                        <p class="list-group-item-text">Number of listeners: {{ artist.listeners }}</p>
                    </a>
                </div>
            </div>
        </div>

        <div ng-show="vm.selectedArtist !== null" class="col-md-7 selected-artist">
            <h2>{{ vm.selectedArtist.name }}</h2>
            <h3>[{{ vm.selectedArtist.listeners }} listeners]</h3>
            <div class="row">
                <div class="col-md-3"><p>Visit Artist Page</p></div>
                <div class="col-md-3"><a href="{{ vm.selectedArtist.url }}">&uArr;&uArr;&uArr;</a></div>
            </div>
            <!--<img src="{{ vm.selectedArtist.image[0].#text }}" />-->
        </div>
    </div>

    <div ng-show="vm.foundArtists.length === 0" class="row artists-results-empty"></div>
</div>